.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-white { background-color: var(--color-white); }
.bg-black { background-color: var(--color-black); }
.bg-red { background-color: var(--color-red); }
.bg-green { background-color: var(--color-green); }
.bg-blue { background-color: var(--color-blue); }
.bg-yellow { background-color: var(--color-yellow); }
.bg-purple { background-color: var(--color-purple); }
.bg-pink { background-color: var(--color-pink); }
.bg-orange { background-color: var(--color-orange); }
.bg-gray { background-color: var(--color-gray); }
.bg-lightgray { background-color: var(--color-lightgray); }
.bg-darkgray { background-color: var(--color-darkgray); }
.bg-none { background: none; box-shadow: none; }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-white { color: var(--color-white); }
.text-black { color: var(--color-black); }
.text-red { color: var(--color-red); }
.text-green { color: var(--color-green); }
.text-blue { color: var(--color-blue); }
.text-yellow { color: var(--color-yellow); }
.text-purple { color: var(--color-purple); }
.text-pink { color: var(--color-pink); }
.text-orange { color: var(--color-orange); }
.text-gray { color: var(--color-gray); }
.text-lightgray { color: var(--color-lightgray); }
.text-darkgray { color: var(--color-darkgray); }