.card {
  padding: 1.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

/* Basic */
.card-basic-l {
  background: var(--color-lightgray);
  color: var(--color-black);
}

.card-basic-d {
  background: var(--color-darkgray);
  color: var(--color-lightblack);
}

/* Glass */
.card-glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.15);
  color: var(--color-white);
}