:root {
    --color-primary: #f0f0f0;
    --color-secondary: #010101;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #e94e77;
    --color-green: #50c878;
    --color-blue: #5078c8;
    --color-yellow: #f5a623;
    --color-purple: #9b59b6;
    --color-pink: #ff69b4;
    --color-orange: #ff8c00;
    --color-gray: #7f8c8d;
    --color-lightgray: #bdc3c7;
    --color-darkgray: #34495e;

    --color-success: #18a058;
    --color-warning: #f0ad4e;
    --color-error: #c00000;

    --sp-1: 0.25rem;
    --sp-2: 0.5rem;
    --sp-3: 0.75rem;
    --sp-4: 1rem;
    --sp-5: 1.5rem;

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-full: 9999px;
}