:root {
    /* COLORS */
    --color-primary: #f0f0f0;
    --color-secondary: #010101;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #e94e77;
    --color-green: #50c878;
    --color-yellow: #f5a623;
    --color-purple: #9b59b6;
    --color-pink: #ff69b4;
    --color-orange: #ff8c00;
    --color-gray: #7f8c8d;
    --color-lightgray: #bdc3c7;
    --color-darkgray: #34495e;

    /* SPACING SCALE */
    --sp-1: 0.25rem;
    --sp-2: 0.5rem;
    --sp-3: 1rem;
    --sp-4: 1.5rem;
    --sp-5: 3rem;
}